.headerInput{
    background-color: white !important;
    color: black !important;
}
input::placeholder{
    color:black !important;
}
.navLinks{
 /* border:2px solid white; */
 gap :10px;
}
.links{
    text-decoration: none;
    color: white;
    font-size: 20px;
}